extends templates/master

block vars

block styles			

block content
    .all
        p.zhy 我们离家的日子，他们还好吗？
        button(type="button" class="zhy-btn" onclick="myFunction()" onkeydown=""点击
        p.zhy-content
            |我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？我们离家的日子，他们还好吗？
        img(src="images/header.jpg", alt="",class="zhy-img" onmousemove="bigImg(this)" onmouseout="smallImg(this)")
        script.
            var carname="wang";
            var carname="li";
            var carname="zhao"
            function load(){
                window.status="pages is loaded"
            }
            function bigImg(x){
                x.style.height="500px";
                x.style.width="500px";
            }
            function smallImg(x){
                x.style.height="auto";
                x.style.width="auto";
            }
            function myFunction(){
                
                alert('确定删除吗')
                var message=confirm("确定删除吗?")
                if (message==true)
                {
                    window.open('http://baidu.com','width:200px','height:200px');
                  //- code
                }
                else(message==false)
                {
                    window.close('')
                }
            }